In [1]:
pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 6.6 MB/s
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.7.1 yfinance-0.1.67

In [2]:
#import libraries 
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import altair as alt  #Altair is a declarative statistical visualization library for Python

import statsmodels.api as sm 

from sklearn.model_selection import ShuffleSplit
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.multioutput import RegressorChain
from sklearn.ensemble import RandomForestRegressor

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
#ignoring the warnings
import warnings
warnings.filterwarnings('ignore')

In [4]:
# import yfinance as yf
# bse_data = yf.download('^BSESN', start='2015-01-01', end='2020-11-03')
# unseenbse_data = yf.download('^BSESN', start='2020-11-03', end='2020-11-04')

In [5]:
import yfinance as yf
bse_data = yf.download('^BSESN', start='2015-01-01', end='2020-06-30')
#since our Textual Analysis dataset containing news from Times of India News Headlines is only till 30th June 2020. 
#So we will assume today is 29th June 2020 and tomorrow is 30th June 2020. And we have to predict the stock price ((high+low+close)/3) and closing price of BSE index 
#for tomorrow 30th June 2020.
unseenbse_data = yf.download('^BSESN', start='2020-06-30', end='2020-07-01')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
bse_data.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [7]:
unseenbse_data.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [8]:
bse_data.rename(columns={'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close', 'Adj Close': 'adjclose', 'Volume': 'volume'}, inplace = True)

In [9]:
unseenbse_data.rename(columns={'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close', 'Adj Close': 'adjclose', 'Volume': 'volume'}, inplace = True)

In [10]:
bse_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1345 entries, 2015-01-02 to 2020-06-29
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   open      1345 non-null   float64
 1   high      1345 non-null   float64
 2   low       1345 non-null   float64
 3   close     1345 non-null   float64
 4   adjclose  1345 non-null   float64
 5   volume    1345 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 73.6 KB

In [11]:
unseenbse_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1 entries, 2020-06-30 to 2020-06-30
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   open      1 non-null      float64
 1   high      1 non-null      float64
 2   low       1 non-null      float64
 3   close     1 non-null      float64
 4   adjclose  1 non-null      float64
 5   volume    1 non-null      int64
dtypes: float64(5), int64(1)
memory usage: 56.0 bytes

In [12]:
bse_data.head()

                    open          high  ...      adjclose  volume
Date                                    ...
2015-01-02  27521.279297  27937.470703  ...  27887.900391    7400
2015-01-05  27978.429688  28064.490234  ...  27842.320312    9200
2015-01-06  27694.230469  27698.929688  ...  26987.460938   14100
2015-01-07  26983.429688  27051.599609  ...  26908.820312   12200
2015-01-08  27178.769531  27316.410156  ...  27274.710938    8200

[5 rows x 6 columns]

In [13]:
bse_data.tail()

                    open          high  ...      adjclose  volume
Date                                    ...
2020-06-23  35015.730469  35482.160156  ...  35430.429688   25200
2020-06-24  35679.738281  35706.550781  ...  34868.980469   26600
2020-06-25  34525.390625  35081.609375  ...  34842.101562   24600
2020-06-26  35144.781250  35254.878906  ...  35171.269531   24800
2020-06-29  34926.949219  35032.359375  ...  34961.519531   18300

[5 rows x 6 columns]

In [14]:
unseenbse_data.head()

                    open          high  ...      adjclose  volume
Date                                    ...
2020-06-30  35168.300781  35233.910156  ...  34915.800781   18500

[1 rows x 6 columns]

In [15]:
bse_data.reset_index(inplace=True)

In [16]:
bse_data.rename(columns={'Date': 'date'}, inplace = True)

In [17]:
bse_data.head()

        date          open          high  ...         close      adjclose  volume
0 2015-01-02  27521.279297  27937.470703  ...  27887.900391  27887.900391    7400
1 2015-01-05  27978.429688  28064.490234  ...  27842.320312  27842.320312    9200
2 2015-01-06  27694.230469  27698.929688  ...  26987.460938  26987.460938   14100
3 2015-01-07  26983.429688  27051.599609  ...  26908.820312  26908.820312   12200
4 2015-01-08  27178.769531  27316.410156  ...  27274.710938  27274.710938    8200

[5 rows x 7 columns]

In [18]:
unseenbse_data.reset_index(inplace=True)

In [19]:
unseenbse_data.rename(columns={'Date': 'date'}, inplace = True)

In [20]:
unseenbse_data.head()

        date          open          high  ...         close      adjclose  volume
0 2020-06-30  35168.300781  35233.910156  ...  34915.800781  34915.800781   18500

[1 rows x 7 columns]

In [21]:
bse_data['date'] = pd.to_datetime(bse_data['date'], format = '%Y%m%d')

In [22]:
unseenbse_data['date'] = pd.to_datetime(unseenbse_data['date'], format = '%Y%m%d')

In [23]:
#before moving forward let us calculate first the actual price
unseenbsedata_price = round((unseenbse_data['high'] + unseenbse_data['low'] + unseenbse_data['close'])/ 3, 2)
unseenbsedata_price  #actual price

0    34987.5
dtype: float64